<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Luke Dixon</string>
		<key>Rounds</key>
		<integer>14</integer>
		<key>Handicap</key>
		<real>3.5</real>
		<key>Rating</key>
		<string>4.9 stars</string>
		<key>Background</key>
		<string>Inspiration-01</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cedric Nelson</string>
		<key>Rounds</key>
		<integer>7</integer>
		<key>Handicap</key>
		<integer>2</integer>
		<key>Rating</key>
		<string>4.7 stars</string>
		<key>Background</key>
		<string>Inspiration-02</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Shannon Daniels</string>
		<key>Rounds</key>
		<integer>3</integer>
		<key>Handicap</key>
		<integer>6</integer>
		<key>Rating</key>
		<string>4.4 stars</string>
		<key>Background</key>
		<string>Inspiration-03</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jorge Fox</string>
		<key>Rounds</key>
		<integer>22</integer>
		<key>Handicap</key>
		<real>2.4</real>
		<key>Rating</key>
		<string>4.1 stars</string>
		<key>Background</key>
		<string>Inspiration-04</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rex Moreno</string>
		<key>Rounds</key>
		<integer>16</integer>
		<key>Handicap</key>
		<real>12.8</real>
		<key>Rating</key>
		<string>3.6 stars</string>
		<key>Background</key>
		<string>Inspiration-05</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Doug Wright</string>
		<key>Rounds</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>7.9</real>
		<key>Rating</key>
		<string>3.2 stars</string>
		<key>Background</key>
		<string>Inspriation-06</string>
	</dict>
</array>
</plist>
